@import url("https://fonts.googleapis.com/css?family=Poiret+One|Didact+Gothic|Quicksand:300,400&display=swap>");

$body-color: #434343;
$body-bg: #ececec;
$link-color: lighten($body-color, 10%);
$link-hover-color: lighten($body-color, 30%);

@import './styles/editor';

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: $body-bg;
  color: $body-color;
  font-family: 'Didact Gothic', Helvetica, Arial, sans-serif;
  font-size: 1.1em;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: $link-color;
  &:hover {
    color: $link-hover-color;
  }
}
.btn {
  border: none;
  background-color: darken($body-bg, 30%);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 0.9rem;
  cursor: pointer;
}
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: .75rem;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
  background-color: $body-bg;
  font-size: 1rem;
}
.wrapper {
  width: 100vw;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 1400px;
  background: $body-bg;
  overflow-x: hidden;
  padding-bottom: 60px;
  .left-side, .right-side {
    max-height: 100%;
    width: 50%;
    flex-grow: 1;
    min-width: 500px;
  }
  .left-side {
    padding: 5vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 600px;
    h1 {
      background: $body-color;
      width: 80%;
      padding: 1rem;
      text-align: center;
      color: $body-bg;
      font-size: 4rem;
      text-transform: uppercase;
      font-weight: normal;
      font-family: 'Poiret One', Helvetica, Arial, sans-serif;
      letter-spacing: 1rem;
      outline: 3px solid $body-color;
      outline-offset: 10px;
    }
    h2 {
      width: 80%;
      text-align: center;
      border: 4px solid $body-color;
      padding: .8rem;
      margin: 0 0 2rem;
    }
    .entry-image {
      width: 30vh;
      height: 40vh;
      margin-bottom: auto;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      background-size: contain;
      &:not(.svg-image) {
        background-size: cover;
        border-radius: 50%;
        box-shadow: 0 0 20px 20px $body-bg inset;
      }
      // &:after {
      //   position: absolute;
      //   display: block;
      //   top: 0;
      //   left: 0;
      //   content: '';
      //   width: 60%;
      //   height: 60%;
      //   border-radius: 50%;
      //   left: 50%;
      //   top: 50%;
      //   transform: translate(-50%, -50%);
      //   backdrop-filter: grayscale(100);
      // }
    }
    .home-link {
      text-transform: uppercase;
      padding: 1rem;
      margin-bottom: auto;
      font-size: 1.3rem;
      letter-spacing: 1rem;
    }
  }
  .right-side {
    padding: 3rem 4rem;
    display: flex;
    flex-direction: column;
    #main {
      flex: auto;
      overflow-x: auto;
    }
    #content {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      max-width: 100vw;
      margin: 0 auto;
    }
    h2 {
      margin-bottom: 0.5rem;
    }
    ul {
      list-style-type: none;
      text-align: center;
      padding: 0 0 1.5rem;
      font-size: 1.3em;
      margin: 0;
      width: 100%;
    }
    .entry-text {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1.5rem;
      text-align: justify;
      p {
        width: 100%;
        margin: 0 0 .75rem;
      }
    }
    .buttons {
      gap: 1rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0 10%;
      .button {
        font-size: 3rem;
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  body {
    background: darken($body-bg, 5%);
  }
  .wrapper {
    height: 100vh;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    padding-bottom: 0;
    .left-side, .right-side {
      min-width: 500px;
    }
    .left-side {
      background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 85%, rgba(0,0,0,.2) 100%);
      outline: 15px $body-color solid;
      outline-offset: -3.5rem;
      padding: 4rem 4rem 7rem;
      max-height: 100%;
      .entry-image {
        height: 70%;
        width: 70%;
      }
    }
    .right-side {
      background: linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 85%, rgba(0,0,0,.2) 100%);
    }
    ul {
      flex: 1;
      overflow-x: auto;
      mask-image: linear-gradient(#000 85%, transparent 100%);
    }
  }
  #footer {
    position: absolute;
    bottom: 60px;
    width: 50%;
    left: 0;
    text-align: center;
    background: none;
    box-shadow: none;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: darken($body-bg, 10%);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: darken($body-bg, 4%);
  border-radius: 5px;
}
